body{
    background-color: black;
}
.button-1{
    margin-right: 100px;
    background-color: rgb(0, 110, 255);
    border: none;
    height: 50px;
    width: 300px;
    font-size: 30px;
}
.button-1:hover{
    background-color: rgb(67, 148, 255);
}
/*############################################################################################### */
.product-1{
    display: flex; 
    align-items: center;
}
.product-1 p{
    margin-right: 10px;
}
.product-1 button{
    background-color: rgb(0, 110, 255);
    border: none;
}
.product-1 button:hover{
    background-color: rgb(67, 148, 255);
}
/* ##################################################### */
.product-2{
    display: flex; 
    align-items: center;
}
.product-2 p{
    margin-right: 10px;
}
.product-2 button{
    background-color: rgb(0, 110, 255);
    border: none;
}
.product-2 button:hover{
    background-color: rgb(67, 148, 255);
}
/* ########################################################## */
.product-3{
    display: flex; 
    align-items: center;
}
.product-3 p{
    margin-right: 10px;
}
.product-3 button{
    background-color: rgb(0, 110, 255);
    border: none;
}
.product-3 button:hover{
    background-color: rgb(67, 148, 255);
}

#subscripe{
    margin-left: 800px;
}